# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg
*.csv
*.aux
*.pdf
*.out
*.synctex.gz
# Virtual environments
venv/
env/
.env/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Trained models
*.pkl
*.pth
trained_models/*
purge_comparison_analysis/*
*.png

# API keys and secrets
.env
.env.local

# Logs
*.log

# tex files
*.tex
*.bib
*.bbl
*.log
*.out
*.gz
*.blg
*.pdf
*.aux
